<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="icon" type="image/x-icon" href="{{ url_for('user_bp.static', filename='images/favicon.ico') }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %} {% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('user_bp.static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('user_bp.static', filename='css/client_style.css') }}">
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,400;0,600;0,700;0,800;1,100;1,400;1,700;1,800&display=swap"
        rel="stylesheet">
</head>

<body>
    <div class="container">
        {% include "user/sidebar.html" %}
        <div class="main-content">
            {% include "user/header.html" %}
            <!-- {% block heading %} {% endblock %} -->
            {% block content %} {% endblock %}
        </div>
    </div>

    <script src="https://ddxp5xijf3rk2.cloudfront.net/js/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.27.2/axios.min.js"></script>
    <script type="text/javascript" src="{{ url_for('user_bp.static', filename='js/submit-handler.js') }}"></script>
</body>

</html>
