<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AARP Test Suite</title>
    <link href="/static/css/styles.css" rel="stylesheet">
    <link rel="icon" href="/static/favicon.ico"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,400;0,600;0,700;0,800;1,100;1,400;1,700;1,800&display=swap" rel="stylesheet">
</head>
<body>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.27.2/axios.min.js"></script>
    <div class="wrapper">
        <div class="header header_new">
            <h1>AARP Test Suite Dashboard</h1>
        </div>
        <div id="dashboard" class="dashboard">
            <div class="aarp-test-suite">
                <a href="/dashboard/aarp-test-suite" target="_blank" class="test-case-link test-case">All tests
                    suite</a>
            </div>
            <div class="dashboard_contents">
                <div class="dashboard_contents_first">
                    <a href="/dashboard/join-with-parameters" target="_blank" class="test-case-link test-case">Join Page
                        with parameters</a>
                    <a href="/dashboard/renew-with-parameters" target="_blank" class="test-case-link test-case">Renew
                        Page with parameters</a>
                    <a href="/dashboard/aarp-page-meta-tags" target="_blank" class="test-case-link test-case">AARP Page
                        Meta Tags</a>
                    <a href="/dashboard/aarp-https-link-verification" target="_blank"
                        class="test-case-link test-case">Https Link Verification</a>
                    <a href="/dashboard/aarp-page-meta-tags-index-follow" target="_blank"
                        class="test-case-link test-case">AARP Page Meta Tags Index Follow</a>
                    <a href="/dashboard/aarp-page-meta-tags-noindex-follow" target="_blank"
                        class="test-case-link test-case">AARP Page Meta Tags No Index Follow</a>
                    <a href="/dashboard/aarp-smetric-network" target="_blank" class="test-case-link test-case">AARP Page
                        Verify v60 and v197 in Smetric Network</a>
                    <a href="/dashboard/verify-class-names" target="_blank" class="test-case-link test-case">AARP Page
                        Verify Class Names</a>
                    <a href="/dashboard/cta-qs-button" target="_blank" class="test-case-link test-case">AARP CTA query string</a>
                </div>
                
                <div class="dashboard_contents_second_set">
                    <a href="/dashboard/aarp-verify-console-error" target="_blank" class="test-case-link test-case">AARP
                        Page Verify Console Error</a>
                    <a href="/dashboard/aarp-verify-correct-premium-name" target="_blank"
                        class="test-case-link test-case">AARP Page Verify Correct Premium Name</a>
                    <a href="/dashboard/aarp-page-cta-click-functionality" target="_blank"
                        class="test-case-link test-case">AARP Page CTA Click Functionality</a>
                    <a href="/dashboard/aarp-different-browser-widths" target="_blank"
                        class="test-case-link test-case">AARP Page Different Browser Widths</a>
                    <a href="/dashboard/different-widths-with-scroll" target="_blank" class="test-case-link test-case">AARP
                        Page Scrollup Scrolldown</a>
                    <a href="/dashboard/aarp-lg-copy-text-verification" target="_blank"
                        class="test-case-link test-case">AARP Header phone number verification</a>
                    <a href="/dashboard/category-level-accord" target="_blank"
                        class="test-case-link test-case">AARP Category query string</a>   
                    <a href="/dashboard/join-renew-with-parameters-pyp" target="_blank"
                        class="test-case-link test-case">AARP PYP Test</a>     
                </div>
            </div>
        </div>
        <div class="footer">
            <p>© <!-- -->2024<!-- --> TargetClose</p>
        </div>
    </div>
</body>

</html>