<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('user_bp.static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('user_bp.static', filename='css/aarpCheckList.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,400;0,600;0,700;0,800;1,100;1,400;1,700;1,800&display=swap" rel="stylesheet">
</head>

<body>
    <div class="container">
        <div class="sidebarsection">
            <div class="sidebar">
                <div class="sidebar-brand">
                    <img class="image" src="{{ url_for('user_bp.static', filename='images/tccc.png') }}" alt="Company logo">
                </div>
                <ul class="sidebar-nav">
                    <li>
                        <a href="{{ url_for('user_bp.dashboard') }}" class="Dashdiv">
                            <img src="{{ url_for('user_bp.static', filename='images/dashboard.png') }}" alt="Dashboard Icon">
                            Dashboard
                        </a>
                    </li>
                    <hr>
                    <li class="sidebar-font">
                        <a href="{{ url_for('user_bp.aarp_tests') }}" class="aarpDiv">
                            <img src="{{ url_for('user_bp.static', filename='images/aarp.png') }}" alt="aarp Icon">
                            AARP
                        </a>
                    </li>
                    <li class="sidebar-font">
                        <a href="javascript:void(0)">
                            <img src="{{ url_for('user_bp.static', filename='images/inogen.png') }}" alt="Utilities Icon">
                            Inogen
                        </a>
                    </li>
                    <li class="sidebar-font">
                        <a href="javascript:void(0)">
                            <img src="{{ url_for('user_bp.static', filename='images/RIF.png') }}" alt="Pages Icon">
                            RIF
                        </a>
                    </li>
                    <li class="sidebar-font">
                        <a href="javascript:void(0)">
                            <img src="{{ url_for('user_bp.static', filename='images/jaya.png') }}" alt="Charts Icon">
                            Jaya
                        </a>
                    </li>
                    <li class="sidebar-font">
                        <a href="javascript:void(0)">
                            <img src="{{ url_for('user_bp.static', filename='images/GG.png') }}" alt="gg Icon">
                            GreetingGenie
                        </a>
                    </li>
                    <hr>
                    <li class="sidebar-font">
                        <a href="javascript:void(0)">
                            <img src="{{ url_for('user_bp.static', filename='images/chart.png') }}" alt="Charts Icon">
                            Charts
                        </a>
                    </li>
                    <li class="sidebar-font">
                        <a href="javascript:void(0)">
                            <img src="{{ url_for('user_bp.static', filename='images/report.png') }}" alt="Tables Icon">
                            Reports
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="main-content">
            <div class="header">
               
                <div class="profile-info">
                    <img class="aarp_icon" style="display: none;" src="{{ url_for('user_bp.static', filename='images/AARPimage.png') }}" alt="AARP logo">
                    <img class="profile-picture" src="{{ url_for('user_bp.static', filename='images/user.png') }}" alt="Profile Picture">
                    
                    <div class="dropdown-menu">
                        <!-- <a href="#" class="dropdown-item">Login</a> -->
                        <a href="{{ url_for('user_bp.logout') }}" class="dropdown-item">Log Out</a>
                    </div>
                    <span>{% if session.name %} {{ session.name }} {% endif %}</span>
                </div>
               
            </div>
            <div class="defaultSec">
                <h1 class="heading">Dashboard</h1> 
                <div class="tabsection">
                    <div class="tabs">
                        <a href="{{ url_for('user_bp.aarp_tests') }}">
                            <div class="tabcontent" id="Tab1">
                                <img class="logo" src="{{ url_for('user_bp.static', filename='images/AARP2.png') }}" alt="AARP logo">
                                <h3>AARP</h3>
                            </div>
                        </a>
                        <div class="tabcontent" id="Tab2">
                            <img class="logo" src="{{ url_for('user_bp.static', filename='images/Inogen2.png') }}" alt="Inogen logo">
                            <h3>Inogen</h3>
                        </div>
                        <div class="tabcontent" id="Tab3">
                            <img class="logo riflogo" src="{{ url_for('user_bp.static', filename='images/RIF2.png') }}" alt="RIF logo">
                            <h3>RIF</h3>

                        </div>
                        <div class="tabcontent" id="Tab4">
                            <img class="logo jayalogo" src="{{ url_for('user_bp.static', filename='images/jaya2.png') }}" alt="jaya logo">
                            <h3>Jaya</h3>
                        </div>
                        <div class="tabcontent" id="Tab5">
                            <img class="logo gglogo" src="{{ url_for('user_bp.static', filename='images/GG2.png') }}" alt="GreetingGenie logo">
                            <h3>GreetingGenie</h3>
                        </div>
                    </div>
                </div>

                <div class="tables">
                    <table>
                        <tr>
                            <th>Ticket Number</th>
                            <th>Testcase Executed</th>
                            <th>Executed by</th>
                            <th>Report link</th>
                        </tr>
                        <tr>
                            <td>AARPMEM-9764</td>
                            <td>Create New Page for Digital Focus DBR | Test 412</td>
                            <td>Karthik</td>
                            <td><img src="{{ url_for('user_bp.static', filename='images/pdf-extesion.png') }}"></td>
                        </tr>
                        <tr>
                            <td>AARPMEM-9713</td>
                            <td> Road Scholar | Confirmation Page for Members</td>
                            <td>Pawan</td>
                            <td><img src="{{ url_for('user_bp.static', filename='images/pdf-extesion.png') }}"></td>
                        </tr>
                        <tr>
                            <td>INOGEN-1951</td>
                            <td>Client Library Code Updates</td>
                            <td>Basavaraj Yalwar</td>
                            <td><img src="{{ url_for('user_bp.static', filename='images/pdf-extesion.png') }}"></td>
                        </tr>
                        <tr>
                            <td>APP-34 </td>
                            <td>Automation of testing profanity words in app</td>
                            <td>Nanditha</td>
                            <td><img src="{{ url_for('user_bp.static', filename='images/pdf-extesion.png') }}"></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
    </div>

    <script src="https://ddxp5xijf3rk2.cloudfront.net/js/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.27.2/axios.min.js"></script>

</body>

</html>